.agregartareas-contenedor{
  width: 100%;
  max-width: 700px;
  margin: 0.3rem auto; 
}

.agregartareas-label {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-bottom: 4px;
  z-index: 2;
}

.agregartareas-input::placeholder {
  color: #999;
}

.agregartareas-input {
   width: 100%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  resize: none;
  color: #333;
  box-sizing: border-box;
  z-index: 1;
  font-family: 'Arial', sans-serif;
  font-weight: bold; 
}

.btn-agregartareas {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  width: 180px;
  text-align: center;
}

.btn-agregartareas.cancelar,
.btn-agregartareas.guardar {
  background-color: #861542; /* vino */
  color: #fff;

}
.agregartareas-btn-vt{
  background-color: #861542; /* vino */
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  width: 300px;
  text-align: center;
}
/* --- Fechas --- */
.fecha-item .agregartareas-label {
  text-align: center;
  margin-bottom: 6px;
}

.fecha-item .calendar-button {
  width: 100%;            
  padding: 15px;           
  font-size: 14px;         
  border: 1px solid #ccc;  
  border-radius: 3px;      
  box-sizing: border-box;  
  height: 50px;            
  color: #333;            
}
#departamento,
#usuario {
  position: relative;
  z-index: 10;
}


