.nv-contenedor{
  width: 100%;
  max-width: 700px;
  margin: 0.3rem auto; 
}

.nv-form-label {
  font-size: 18px;
    font-weight: 400;       
  color: #212529;
  margin-bottom: 4px;
  z-index: 2;
}

.nv-form-input::placeholder {
  color: #999;
}
.nv-form-input {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  resize: none;
  color: #333;
  box-sizing: border-box;
  z-index: 1;
  font-family: 'Arial', sans-serif;
  font-weight: bold; 
}

.nv-form-input:focus {
  border: 3px solid #AA325A4C !important;
  outline: none !important;  
  box-shadow: none !important; 
}
.nv-btn-form {
  width: 100%;
  max-width: 100%;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  background-color: #861542;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  z-index: 10;
}
/* ===========================
   TEXTO E ICONO DEL BTN CALENDARIO
=========================== */
.nv-btn-calendario {
  display: flex;
  align-items: center; 
  gap: 0.5rem;         
}

.nv-btn-calendario .nv-text {
  color: #6c757d;     
  line-height: 1.3;   
  display: flex;
  align-items: center;
  font-size: 16px;   
}
.nv-text {
  color: #6c757d;  
}



